.sectionintro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgdiv{
    width: 100%;
    text-align: center;
}

.textIntro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.imgcss{
    width: 95%;
    height: 38rem;
}