* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    width: 100%;
}

.body {
    width: 100%;
}

.header {
    width: 100%;
    height: 450px;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 32%, 62%, 0.678), hsla(204, 8%, 76%, 0.685)), url(../proyecto/img/fondook.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(204, 20%, 95%, 0.678), hsla(204, 93%, 46%, 0.685)), url(../proyecto/img/fondook.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    justify-content: space-between;
}

.texto_header {
    display: flex;
    height: 430px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.texto p {
    display: flex;
    padding: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 140px;
    height: 100px;
}



.nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

.nav a {
    color: aliceblue;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
    font-size: large;

}

.nav a:hover {
    color: rgb(203, 255, 255);
    font-weight: 300;
    margin-right: 10px;

}

.wave {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.texto_header {
    display: flex;
    padding: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    height: 100px;
}


.trabajos_realizados {
    display: flex;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Dancing Script', cursive;
}

.contenedor h2 {
    font-size: 40px;
    text-align: center;
}

.galeria {
    display: flex;
}

.imagenes {
    width: 24%;
    margin-bottom: 10px;
    margin: 4px;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tipo_de_filamento {
    font-family: 'Dancing Script', cursive;
}

.tipos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.fila_img {
    width: 30%;
    margin: 4px;
    height: 250px;

}

.fila_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 100px;
}


.titulo {
    text-align: center;
    background-color: hsla(180, 100%, 91%, 0.479);
}

.texto h1 {
    font-size: 70px;

}

.textoquienes {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.sobre {
    font-size: x-large;
    text-align: center;
}

.sobre h6 {
    font-size: 70px;
}

.video {
    padding: 5rem;
    text-align: center;

}

.container {
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselpadre {
    width: auto;
    height: 460px;
}

.whatsappboton {
    display: flex;
    justify-content: end;
}


.contenedor_footer {
    background: linear-gradient(white, grey, grey);
    height: 100px;
}

.whatsapp {
    height: 10px;
    padding: 10px;

}


.row {
    display: grid;
    grid-template-rows: repeat(3, );
    grid-template-areas:
        "caja1 caja2 caja3"
        "caja1 caja2 caja3"
        "caja1 caja2 caja3"
}


.caja1 {
    width: 20vw;
    height: 80vh;
    margin: 10px;
    justify-content: baseline;

}

.publi img {
    width: 100%;
    height: 80vh;
    border-radius: 19px;
}

.caja2 {
    height: 80vh;
    width: 40vw;

}

.caja3 {
    width: 20vw;
    height: 80vh;
    margin: 10px;
    justify-content: end;

}

.publi2 img {
    width: 100%;
    height: 80vh;
    border-radius: 19px;
}

.mainform{
    width: 10vh;
}

.contacto{
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto p{
    font-size: 70px;
    text-align: center;
}

.caja2 form {
    width: 60vh;
    height: 80vw;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    height: 80vh;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

textarea{
    height: 290px;
    min-height: 100px;
}