*{
margin: o;
padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 10px;
}

.encabezado{
    background-image: url(./IMG/Fondo.png);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vh;
    padding: 2rem;


}

.menu_superior{
    list-style: none;
    text-align: center;

}

.menu_superior li {
    display: inline-block;
}

.menu_superior a{
    text-decoration: none;
    font-size: 1.9rem;
    color: rgb(57, 6, 245);
    padding: 2rem;
    font-weight: bold
}

