* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 450px;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 32%, 62%, 0.678), hsla(204, 8%, 76%, 0.685)), url(../proyecto/img/fondook.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 32%, 62%, 0.678), hsla(204, 8%, 76%, 0.685)), url(../proyecto/img/fondook.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.texto_header {
    display: flex;
    width: 100%;
    height: 430px;
    align-items: center;
    justify-content: center;
}

.nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

.nav a {
    color: aliceblue;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
    font-size: large;

}

.nav a:hover {
    color: rgb(203, 255, 255);
    font-weight: 300;
    margin-right: 10px;

}

.wave {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.texto_header {
    display: flex;
    padding: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    height: 100px;
}


.trabajos_realizados {
    display: flex;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Dancing Script', cursive;
}

.contenedor h2 {
    font-size: 40px;
    text-align: center;
}

.galeria {
    display: flex;
}

.imagenes {
    width: 24%;
    margin-bottom: 10px;
    margin: 4px;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tipo_de_filamento {
    font-family: 'Dancing Script', cursive;
}

.tipos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.fila_img {
    width: 30%;
    margin: 4px;
    height: 250px;

}

.fila_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 100px;
}


.titulo {
    text-align: center;
    background-color: hsla(180, 100%, 91%, 0.479);
}

footer {
    padding: 10px;
    width: 100%;
}

.contenedor_footer {
    background: linear-gradient(white, grey, grey);
    height: 100px;
}

.whatsapp {
    height: 10px;
    padding: 10px;

}
