*{
margin: o;
padding: 0;
text-decoration-line: none;
list-style-type: none;
box-sizing: border-box;
}


body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 120px;
    height: 70px;
}

.menu{
    width: 900px;
    margin: 0;
    display: flex;
    gap: 120px;
}
nav ul li{
    display: flex;
    justify-content: right;
}

nav ul li a{
    color: rgb(76, 78, 78);
}
#texto_inicio{
    text-align: center;
    text-decoration: underline;
    width: 23rem;
    margin: 1rem;
}

.solotexto{
    font-size: small;
    text-align
}

.contenido{
    width: 70vh;
}

.contenido_imagen{

    text-align: center;
    
}

.contenido_imagen img{
    width: 15vh;
    height: 15vh;
    margin: 1rem;
    box-shadow: 5px 5px rgb(107, 107, 107, 0.514);
    border-radius: 10px;
}

.contenido_inicio {
display: flex;

}

/* FOOTER */

.footer{            
    width: 72vh;             
    background-color: rgb(119, 108, 108);
    font-size: small;
}

.bloque_footer{

    display: flex;
    text-decoration: none;
    justify-content: space-around;
}

.menu_footer{
    list-style: none;
}

.menu_footer a{
    color: black;
    text-align: right
    
}
