*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.header {
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
}

.menu{
    background-color: aqua;
    display: flex;
    width: 100%;
}

.logo{
    background-color: rgb(218, 255, 249);
    width: 30vw;
}

.logo img{
    width:8rem ;
}

.nav {
    background-color: rgb(218, 255, 249);
    width: 80vw;
    text-align: right;
    padding: 1rem;
}

.nav li a{
    text-decoration: none;
    color: gray;
}

.menu_superior li a{
    color: grey;
}

.texto_principal p{
    text-align: center;
    font-size: x-small;
    
}

.contenido {
    background-color: blue;
}

.footer{
    background-color: blueviolet;
}